body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'ZCOOL KuaiLe', cursive; */
    background-color: rgb(236, 172, 129);
}

.cool-font {
    font-family: 'ZCOOL KuaiLe', cursive;
}


/* .career_title {
    font-variant: small-caps;
} */

.top-card-career{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.career_IMG {
    width: 500px;
    margin: auto;
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

.flex_id {
    display: flex;
    justify-content: space-around;
}

.career_card {
    width: 1000px;
}

.career_awards {
    font-variant: small-caps;
}
/* Main page CSS */

.carousel {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

/* CSS for cards */

.main-page-cards {
    margin: 30px;
}

.main-card-title {
    margin: 12px;
    text-align: center;
}

.main-page-container {
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* CSS for Footer */

.footer-container{
    display:flex;
    justify-content: center;
}

.icons {
    margin-top: 25px;
}

.footer {
    background-color: mediumseagreen;
    margin-bottom: 30px;
}

/* End Main page CSS */

/* Personal page CSS */

.personal-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personal-page-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    flex-direction: row;
    flex-basis: 50%;
}

.personal-img {
    width: 180px;
    height: 230px;
}
/* End Personal page CSS */