/* Main page CSS */

.carousel {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

/* CSS for cards */

.main-page-cards {
    margin: 30px;
}

.main-card-title {
    margin: 12px;
    text-align: center;
}

.main-page-container {
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* CSS for Footer */

.footer-container{
    display:flex;
    justify-content: center;
}

.icons {
    margin-top: 25px;
}

.footer {
    background-color: mediumseagreen;
    margin-bottom: 30px;
}

/* End Main page CSS */

/* Personal page CSS */

.personal-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personal-page-cards{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    flex-direction: row;
}

.personal-img {
    width: 180px;
    height: 230px;
}
/* End Main page CSS */